*{
  margin:0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
background: #fff;
color: #080808;
}

#header{
  width: 100%;
  height: 100vh;
  margin-top: 15px;
  background-image: url(WI.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 5px 5%;
}

#M{
  font-weight: bold;
  font-size: 1.5em;
  color: #c414e7;
  font-family: 'Times New Roman', Times, serif;
  padding: 0px;
  margin: 0px;
}

#name{
  color: #c414e7;
  font-size: 1.5em;
}

.headerText h1 span{
  color: navy;
  font-size: 1.1em;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: navy;
  text-decoration: none;
  font-size: 19px;
  position: relative;
  display: inline-block; 
  transition: transform 0.5s ease;
}

nav ul li a:hover{
  transform: translateY(-5px);
}


nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: #c414e7;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after{
width: 100%;
}

.container h1{
  font-size: 30px;

}

.headerText{
  margin-top: 20%;
  font-size: 30px;
}
/*-----------About--------*/
#about{
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.about-col1 img {
  max-width: 100%; 
  height: 700px;
  margin-top: 25px;
  border-radius: 15px;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col2{
  flex-basis: 43%;
}

.about-col2 span{
  font-weight: bold;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: navy;
  text-decoration: underline;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;

}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;

}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #c414e7;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 70%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #c414e7;
  font-size: 14px;
}

.tab-contents{
  display:none;
  font-size: 1.5em;
}

.tab-contents.active-tab{
  display: block;
}

/*----------Services--------*/

#services{
  padding: 0px 0;
  margin-top: 1px;

}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.services-list div h2{
  color: #c414e7;
  text-decoration: underline;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

#services{
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.services-list div{
  background: #bebebe;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 15px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div a{
  text-decoration: none;
  color: #c414e7;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: rgb(229, 201, 242);
  transform: translateY(-10px);
}

/*--------Portfolio---------*/

#portfolio{
  padding: 20px 0;
  background: rgb(230, 230, 230);
  border-radius: 15px;
  margin-top: 1px;
}

.worklist{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow:hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  cursor: pointer;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.01), #c360d7);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer p{
  color: #fff;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;

}

.layer a{
  margin-top: 20px;
  color: navy;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
transform: scale(1.1);

}

.work:hover .layer{
  height: 100%;
  cursor: pointer;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #000000;
  border-radius: 6px;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  transition: background 0.5s;
  background: #c414e7;
  color: #fff;
  border: none;

}

.btn:hover{
  background: navy;
  
  
}
/*----------Contact----------*/

#contact{
  background: rgb(230, 230, 230);
  border-radius: 15px;
  margin-top: 1px;
}
.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;

}

.contact-left p{
  margin-top: 30px;

}

.contact-left i{
  color: #c414e7;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
  

}

.social-icons a{
  text-decoration: none;
  font-size-adjust: 30px;
  margin-right: 10px;
  
}

.social-icons i{
  color:  #c414e7;;
  display: inline-block;
  transition: transform 0.5s;
  
}

.social-icons i:hover{
  color: navy;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #c414e7;
  color: #fff;
  border: none;
}

.btn.btn2:hover{
  background: navy;
  cursor: pointer;
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background:#fff;
  padding: 15px;
  margin: 15px 0;
  color: #000000;
  font-size: 18px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;

}

form .btn2:active{
  opacity: 50%;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #bebebe;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i{
  color: #c414e7;
}

nav .fa-solid{
  display: none;
}


/* --------CSS for small screen----- */


@media only screen and (max-width: 600px){
  #header{
    background-image: url(cha3.jpg);
  }

.headerText{
  margin-top: 5%;
  font-size: 15px;
  font-weight: bold;
}

.headerText h1{
  font-size: 20px;
}
nav .fa-solid{
  display: block;
  font-size: 25px;
}
nav ul{
  background:#f0a8ff;
  position: fixed;
  top: 0;
  right: -150px;
  width: 150px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
}
nav ul li{
  display: block;
  margin: 25px;
}
nav ul .fa-solid{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
nav i{
  width: 50px;
}
.sub-title{
  font-size: 40px;
}
.about-col1, .about-col2{
  flex-basis: 100%;
}
.about-col1{
  margin-bottom: 30px;
}
.about-col2{
  font-size: 14px;
}
.tab-links{
  font-size: 16px;
}
.contact-left, .contact-right{
  flex-basis: 100%;
}
.copyright{
  font-size: 13px;
}

}

#msg{
  color: #000000;
  margin-top: -40px;
  display: block;
}